body {
    background-color: #d5e1ef;
}

.card {
    /* Colors */
    background-color: white;

    /* Sizes */
    height: 500px;
    width: 320px;

    /* Make the width and height exactly like specify without effect from margin and padding */
    box-sizing: border-box; 

    /* Center div in viewport*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 16px;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;

}

.qr-image {
    /* Sizes */
    width: 288px;
    height: 288px;

    border-radius: 20px;
    margin-bottom: 24px;
}

.card-title {
    /* Font */
    font-family: "Outfit";
    font-weight: 700;
    font-size: 22px;

    /* Color */
    color: #1F314F;

    /* Sizes */
    width: 256px;
    padding-bottom: 16px;

    text-align: center;
}

.card-content {
    /* Sizes */
    width: 256px;

    /* Font */
    font-size: 15px;
    font-family: "Outfit";
    font-weight: 400;

    /* Color */
    color: hsl(216, 15%, 48%);

    text-align: center;
}
